#!/bin/bash
echo $(date "+%FT%T") + " | ------ Start run -------" >> /var/log/openvpn/teardown_routing.log
echo $(date "+%FT%T") + " |  Teardown table start" >> /var/log/openvpn/teardown_routing.log
ip rule delete from ${client_cidr_host} table openvpn-route >> /var/log/openvpn/teardown_routing.log
echo $(date "+%FT%T") + " |  Teardown table end" >> /var/log/openvpn/teardown_routing.log

echo $(date "+%FT%T") + " |  Teardown lookup main start" >> /var/log/openvpn/teardown_routing.log
ip rule delete from ${client_cidr_gateway_ip} lookup main >> /var/log/openvpn/teardown_routing.log
echo $(date "+%FT%T") + " |  Teardown lookup main end" >> /var/log/openvpn/teardown_routing.log

echo $(date "+%FT%T") + " |  Teardown add table openvpn-route start" >> /var/log/openvpn/teardown_routing.log
ip route delete default via ${trusted_subnet_gateway_ip} dev eth1 table openvpn-route >> /var/log/openvpn/teardown_routing.log
echo $(date "+%FT%T") + " |  Teardown add table openvpn-route end" >> /var/log/openvpn/teardown_routing.log

echo $(date "+%FT%T") + " |  Teardown add metric 10 start" >> /var/log/openvpn/teardown_routing.log
ip route delete default via ${untrusted_subnet_gateway_ip} dev eth0 metric 10 >> /var/log/openvpn/teardown_routing.log
echo $(date "+%FT%T") + " |  Teardown add metric 10 end" >> /var/log/openvpn/teardown_routing.log

echo $(date "+%FT%T") + " |  Teardown delete proto dhcp start" >> /var/log/openvpn/teardown_routing.log
ip route add default via ${untrusted_subnet_gateway_ip} dev eth0 proto dhcp >> /var/log/openvpn/teardown_routing.log
echo $(date "+%FT%T") + " |  Teardown delete proto dhcp end" >> /var/log/openvpn/teardown_routing.log

echo $(date "+%FT%T") + " | ------ End run -------" >> /var/log/openvpn/teardown_routing.log
echo " " >> /var/log/openvpn/teardown_routing.log
echo " " >> /var/log/openvpn/teardown_routing.log
  